.p {
  background-color: #212529;
}
#header {/*
  background-image: url(assets/img/scenery/rain.mp4);
  bacground-repeat: no-repeat;
  background-size: cover;
  background-position: center;
*/
}
#header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

#header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#header .container {
  position: relative;
  z-index: 2;
}

#header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.5;
  z-index: 1;
}
footer {
  color: white;
}
.mat-card {
  background-color: transparent;
}
